package ${packageName}.service;

import java.util.List;

#if(${table.crud} || ${table.sub})
import com.baomidou.mybatisplus.core.metadata.IPage;
#end
import com.baomidou.mybatisplus.extension.service.IService;
import ${packageName}.core.domain.entity.${ClassName};
#if($table.sub)
import ${packageName}.core.domain.entity.${subClassName};
#end

/**
 * ${functionName}Service接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Service extends IService<${ClassName}>
{

	/*==================================================${functionName}================================================*/

	/**
	 * 添加${functionName}
	 *
	 * @param ${className} ${functionName}
	 * @return 添加结果主键
	 * @author ${author}
	 * @date ${datetime}
	 */
	${pkColumn.javaType} add${ClassName}(${ClassName} ${className},String createBy);

	/**
	 * 批量删除${functionName}
	 *
	 * @param ${pkColumn.javaField}s 需要删除的${functionName}主键集合
	 * @return 成功删除数量
	 * @author ${author}
	 * @date ${datetime}
	 */
	int remove${ClassName}By${pkColumn.capJavaField}s(${pkColumn.javaType}[] ${pkColumn.javaField}s);

	/**
	 * 编辑${functionName}
	 *
	 * @param ${className} ${functionName}
	 * @return 成功编辑数量
	 * @author ${author}
	 * @date ${datetime}
	 */
	int modify${ClassName}(${ClassName} ${className},String updateBy);

    /**
     * ${functionName}详情
     * 
     * @param ${pkColumn.javaField} ${functionName}主键
     * @return ${functionName}
	 * @author ${author}
	 * @date ${datetime}
     */
    ${ClassName} get${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField});

	/**
	 * 获取${functionName}列表
	 *
	 * @param ${className} ${functionName}
	 * @return ${functionName}集合
	 * @author ${author}
	 * @date ${datetime}
	 */
	List<${ClassName}> list${ClassName}ByParam(${ClassName} ${className});

    #if($table.crud || $table.sub)
    /**
     * 获取${functionName}分页列表
     *
     * @param ${className} ${functionName}
     * @return ${functionName}分页集合
	 * @author ${author}
	 * @date ${datetime}
     */
    IPage<${ClassName}> list${ClassName}ByPage(${ClassName} ${className});
	#elseif($table.tree)
	/**
	 * 获取主键数组获取所有子级列表
	 *
	 * @param ${pkColumn.javaField}s 主键数组
	 * @return 子级集合
	 * @author ${author}
	 * @date ${datetime}
	 */
	List<${ClassName}> listSub${ClassName}By${pkColumn.capJavaField}s(${pkColumn.javaType}[] ${pkColumn.javaField}s);
    #end

	#if($table.sub)
	/**
	 * ${functionName}详情（包含子项）
	 *
	 * @param ${pkColumn.javaField} ${functionName}主键
	 * @return ${functionName}
	 * @author ${author}
	 * @date ${datetime}
	 */
	${ClassName} get${ClassName}IncludeSubBy${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField});

	/**
	 * 获取${functionName}列表（包含子项）
	 *
	 * @param ${className} ${functionName}
	 * @return ${functionName}集合
	 * @author ${author}
	 * @date ${datetime}
	 */
	List<${ClassName}> list${ClassName}IncludeSubByParam(${ClassName} ${className});

	/*==============================================${subTable.functionName}==========================================*/

	/**
	 * 批量添加${subTable.functionName}
	 *
	 * @param ${subclassName}List ${subTable.functionName}列表
	 * @return 成功添加数量
	 * @author ${author}
	 * @date ${datetime}
	 */
	int batchAdd${subClassName}(List<${subClassName}> ${subclassName}List,String createBy);

	/**
	 * 添加${subTable.functionName}
	 *
	 * @param ${subclassName} ${subTable.functionName}
	 * @return 添加结果主键
	 * @author ${author}
	 * @date ${datetime}
	 */
	${subTableFkColumn.javaType} add${subClassName}(${subClassName} ${subclassName},String createBy);

	/**
	 * 批量删除${subTable.functionName}
	 *
	 * @param ${subTableFkColumn.javaField}s 需要删除的数据外键集合
	 * @return 成功删除数量
	 * @author ${author}
	 * @date ${datetime}
	 */
	int remove${subClassName}By${subTableFkColumn.capJavaField}s(${subTableFkColumn.javaType}[] ${subTableFkColumn.javaField}s);

	/**
	 * 批量删除${subTable.functionName}
	 *
	 * @param ${subTablePkColumn.javaField}s 需要删除的数据主键集合
	 * @return 成功删除数量
	 * @author ${author}
	 * @date ${datetime}
	 */
	int remove${subClassName}By${subTablePkColumn.capJavaField}s(${subTablePkColumn.javaType}[] ${subTablePkColumn.javaField}s);

	/**
	 * 编辑${subTable.functionName}
	 *
	 * @param ${subclassName} ${subTable.functionName}
	 * @return 成功编辑数量
	 * @author ${author}
	 * @date ${datetime}
	 */
	int modify${subClassName}(${subClassName} ${subclassName},String updateBy);

	/**
	 * ${subTable.functionName}详情
	 *
	 * @param ${subTablePkColumn.javaField} ${subTable.functionName}主键
	 * @return ${subTable.functionName}
	 * @author ${author}
	 * @date ${datetime}
	 */
	${subClassName} get${subClassName}By${subTablePkColumn.capJavaField}(${subTablePkColumn.javaType} ${subTablePkColumn.javaField});

	/**
	 * 获取${subTable.functionName}分页列表
	 *
	 * @param ${subclassName} ${subTable.functionName}
	 * @return ${subTable.functionName}分页集合
	 * @author ${author}
	 * @date ${datetime}
	 */
	IPage<${subClassName}> list${subClassName}ByPage(${subClassName} ${subclassName});

	/**
	 * 获取${subTable.functionName}列表
	 *
	 * @param ${subclassName} ${subTable.functionName}
	 * @return ${subTable.functionName}集合
	 * @author ${author}
	 * @date ${datetime}
	 */
	List<${subClassName}> list${subClassName}ByParam(${subClassName} ${subclassName});

	#end
}
