<template>
	<div class="search-form-div">
		<el-form
			ref="searchFormRef"
			:rules="rules"
			:inline="true"
			:model="tableParams"
			class="search-form"
			label-width="68px"
			size="large"
		>
			#foreach($column in $columns)
			#if($column.query)
			#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
			#if($column.htmlType == "input")
			<el-form-item label="${column.columnComment}" prop="${column.javaField}">
				<el-input
					v-model="tableParams.${column.javaField}"
					placeholder="请输入${column.columnComment}"
					clearable
					autocomplete="off"
				></el-input>
			</el-form-item>
			#elseif(($column.htmlType == "select" || $column.htmlType == "radio") && "" != $column.dictType)
			<el-form-item label="${column.columnComment}" prop="${column.javaField}">
				<el-select v-model="tableParams.${column.javaField}" placeholder="请选择${column.columnComment}" value-on-clear="" clearable>
					<el-option v-for="item in getDict(${column.dictType})" :key="item.dictDataId" :label="item.dictLabel" :value="item.dictValue"/>
				</el-select>
			</el-form-item>
			#elseif(($column.htmlType == "select" || $column.htmlType == "radio") && $column.dictType)
			<el-form-item label="${column.columnComment}" prop="${column.javaField}">
				<el-select v-model="tableParams.${column.javaField}" placeholder="请选择${column.columnComment}" value-on-clear="" clearable>
					<el-option label="请选择字典生成" value="" />
				</el-select>
			</el-form-item>
			#elseif($column.htmlType == "datetime" && $column.queryType != "BETWEEN")
			<el-form-item label="${column.columnComment}" prop="${column.javaField}">
				<el-date-picker clearable
					v-model="tableParams.${column.javaField}"
					type="date"
					value-format="YYYY-MM-DD"
					placeholder="请选择${column.columnComment}">
				</el-date-picker>
			</el-form-item>
			#elseif($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
			<el-form-item label="${column.columnComment}" style="width: 308px">
				<el-date-picker
					v-model="tableParams.params.daterange${AttrName}"
					value-format="YYYY-MM-DD"
					type="daterange"
					range-separator="-"
					start-placeholder="开始日期"
					end-placeholder="结束日期"
				></el-date-picker>
			</el-form-item>
			#end
			#end
			#end
			<el-form-item>
				<el-button @click="handleQuery" :class="themeVariables.searchBtnClass || 'light-blue-btn'" icon="i-ep-search">搜索</el-button>
				<el-button @click="handleResetQuery(searchFormRef)" :class="themeVariables.resetBtnClass || 'pan-blue-btn'" icon="i-ep-refresh">重置</el-button>
			</el-form-item>
		</el-form>
	</div>
	<el-row :gutter="10" class="mb8">
		<el-col :span="24">
			<el-button :type="themeVariables.addBtnElType || 'primary'" plain icon="i-ep-plus" size="large" @click="openAddDialog">添加${functionName}</el-button>
		</el-col>
	</el-row>

	<el-table
		:data="tableData"
		style="width: 100%; margin-bottom: 20px"
		row-key="${pkColumn.javaField}"
		stripe
		class="custom-table"
		:border="true"
		default-expand-all
		:tree-props="{ children: 'children' }"
		v-loading="isLoading"
	>
		#foreach($column in $columns)
		#if($column.pk)
		<el-table-column label="${column.columnComment}" align="center" prop="${column.javaField}" width="100"/>
		#elseif($column.list && $column.htmlType == "datetime")
		<el-table-column label="${column.columnComment}" align="center" prop="${column.javaField}" width="180">
			<template #default="scope">
				<span>{{formatTime(scope.row.${column.javaField})}}</span>
			</template>
		</el-table-column>
		#elseif($column.list && $column.htmlType == "imageUpload")
		<el-table-column label="${column.columnComment}" align="center" prop="${column.javaField}" width="100">
			<template #default="scope">
				<ImagePreview :src="scope.row.${column.javaField}" width="50" height="50" :is-local="true" />
			</template>
		</el-table-column>
		#elseif($column.list && "" != $column.dictType)
		<el-table-column label="${column.columnComment}" align="center" prop="${column.javaField}" width="100">
			<template #default="scope">
				<template v-for="dict in getDict(${column.dictType})" :key="dict.dictDataId">
					<el-tag v-if="scope.row.${column.javaField} == dict.dictValue">
						{{ dict.dictLabel }}
					</el-tag>
				</template>
			</template>
		</el-table-column>
		#elseif($column.list && "" != $javaField)
		<el-table-column label="${column.columnComment}" align="center" prop="${column.javaField}" width="100"/>
		#end
		#end
		<el-table-column fixed="right" label="操作" align="center" width="160">
			<template #default="scope">
				<el-button
						text
						class="compact-btn"
						:type="themeVariables.editBtnElType || 'success'"
						size="small"
						icon="i-ep-edit"
						@click="openModifyDialog(scope.$index, scope.row)"
				>修改</el-button
				>
				<el-button
						text
						class="compact-btn"
						:type="themeVariables.addBtnElType || 'primary'"
						size="small"
						icon="i-ep-plus"
						@click="openAddSub${ClassName}Dialog(scope.$index, scope.row)"
				>添加子级${functionName}</el-button
				>
				<el-button
						text
						class="compact-btn"
						:type="themeVariables.deleteBtnElType || 'danger'"
						size="small"
						icon="i-ep-delete"
						@click="handleDelete(scope.$index, scope.row)"
				>删除</el-button
				>
			</template>
		</el-table-column>
	</el-table>

	<el-dialog
		:title="addOrModifyTag == 1 ? '添加${functionName}' : '修改${functionName}'"
		v-model="dialogFormAddOrModify${ClassName}"
		width="500px"
	>
		<el-form
			:model="addOrModify${ClassName}Form"
			:rules="addOrModify${ClassName}FormRules"
			ref="addOrModify${ClassName}FormRef"
			label-width="80px"
		>
			#foreach($column in $columns)
			#if($column.insert && !$column.pk)
			#if(($column.usableColumn) || (!$column.superColumn))
			#if($column.htmlType == "input")
			<el-form-item label="${column.columnComment}" prop="${column.javaField}">
				<el-input v-model="addOrModify${ClassName}Form.${column.javaField}" placeholder="请输入${column.columnComment}" />
			</el-form-item>
			#elseif($column.htmlType == "imageUpload")
			<el-form-item label="${column.columnComment}" prop="${column.javaField}">
				<ImageUpload v-model="addOrModify${ClassName}Form.${column.javaField}"/>
			</el-form-item>
			#elseif($column.htmlType == "fileUpload")
			<el-form-item label="${column.columnComment}" prop="${column.javaField}">
				<FileUpload v-model="addOrModify${ClassName}Form.${column.javaField}"/>
			</el-form-item>
			#elseif($column.htmlType == "editor")
			<el-form-item label="${column.columnComment}">
				<Editor v-model="addOrModify${ClassName}Form.${column.javaField}" :min-height="192"/>
			</el-form-item>
			#elseif($column.htmlType == "select" && $treeParentCodeColumn.javaField == $column.javaField)
			<el-form-item label="上级${functionName}" prop="$column.javaField">
				<el-tree-select
					v-model="addOrModify${ClassName}Form.${column.javaField}"
					:data="parent${ClassName}List"
					check-strictly
					:render-after-expand="false"
					:empty-values="[null, undefined, -1]"
					:value-on-clear="undefined"
					placeholder="请选择"
					node-key="id"
					:props="{
						value: 'id',
						label: 'label',
						children: 'children',
						disabled: 'disabled',
					}"
					show-checkbox
				/>
			</el-form-item>
			#elseif($column.htmlType == "select" && "" != $column.dictType)
			<el-form-item label="${column.columnComment}" prop="${column.javaField}">
				<el-select v-model="addOrModify${ClassName}Form.${column.javaField}" placeholder="请选择${column.columnComment}">
					<el-option
						v-for="dict in getDict(${column.dictType})"
						:key="dict.dictValue"
						:label="dict.dictLabel"
						#if($column.javaType == "Integer" || $column.javaType == "Long")
						:value="parseInt(dict.dictValue)"
						#else
						:value="dict.dictValue"
						#end
					></el-option>
				</el-select>
			</el-form-item>
			#elseif($column.htmlType == "select" && $column.dictType)
			<el-form-item label="${column.columnComment}" prop="${column.javaField}">
				<el-select v-model="addOrModify${ClassName}Form.${column.javaField}" placeholder="请选择${column.columnComment}">
					<el-option label="请选择字典生成" value="" />
				</el-select>
			</el-form-item>
			#elseif($column.htmlType == "checkbox" && "" != $column.dictType)
			<el-form-item label="${column.columnComment}" prop="${column.javaField}">
				<el-checkbox-group v-model="addOrModify${ClassName}Form.${column.javaField}">
					<el-checkbox
						v-for="dict in getDict(${column.dictType}"
						:key="dict.dictValue"
						:label="dict.dictValue">
						{{dict.dictLabel}}
					</el-checkbox>
				</el-checkbox-group>
			</el-form-item>
			#elseif($column.htmlType == "checkbox" && $column.dictType)
			<el-form-item label="${column.columnComment}" prop="${column.javaField}">
				<el-checkbox-group v-model="addOrModify${ClassName}Form.${column.javaField}">
					<el-checkbox>请选择字典生成</el-checkbox>
				</el-checkbox-group>
			</el-form-item>
			#elseif($column.htmlType == "radio" && "" != $column.dictType)
			<el-form-item label="${column.columnComment}" prop="${column.javaField}">
				<el-radio-group v-model="addOrModify${ClassName}Form.${column.javaField}">
					<el-radio
						v-for="dict in getDict(${column.dictType}"
						:key="dict.dictValue"
						#if($column.javaType == "Integer" || $column.javaType == "Long")
						:label="parseInt(dict.dictValue)"
						#else
						:label="dict.dictValue"
						#end
					>{{dict.dictLabel}}</el-radio>
				</el-radio-group>
			</el-form-item>
			#elseif($column.htmlType == "radio" && $column.dictType)
			<el-form-item label="${column.columnComment}" prop="${column.javaField}">
				<el-radio-group v-model="addOrModify${ClassName}Form.${column.javaField}">
					<el-radio label="-1">请选择字典生成</el-radio>
				</el-radio-group>
			</el-form-item>
			#elseif($column.htmlType == "datetime")
			<el-form-item label="${column.columnComment}" prop="${column.javaField}">
				<el-date-picker clearable
					v-model="addOrModify${ClassName}Form.${column.javaField}"
					type="date"
					value-format="YYYY-MM-DD"
					placeholder="请选择${column.columnComment}">
				</el-date-picker>
			</el-form-item>
			#elseif($column.htmlType == "textarea")
			<el-form-item label="${column.columnComment}" prop="${column.javaField}">
				<el-input v-model="addOrModify${ClassName}Form.${column.javaField}" type="textarea" placeholder="请输入内容" />
			</el-form-item>
			#end
			#end
			#end
			#end
		</el-form>
		<template #footer>
			<span class="dialog-footer">
				<el-button @click="closeAddOrModifyDialog">取 消</el-button>
				<el-button type="primary" @click="handleAddOrModify(addOrModifyDeptFormRef)">
					确 定
				</el-button>
			</span>
		</template>
	</el-dialog>

</template>

<script setup lang="ts" name="${className}">
	#foreach($column in $columns)
	#if($column.list && $column.htmlType == "datetime")
	import { formatTime } from "@/utils/dateUtils";
	#break
	#end
	#end
	import type { FormInstance, FormRules } from "element-plus";
	import {listTree${ClassName},add${ClassName},modify${ClassName},delete${ClassName},getDoesNotContainSelf${ClassName}TreeSelect} from "@/api/${moduleName}/${businessName}";
	import { useTheme } from '@/composables/useTheme';
	/*============================通用参数开始============================*/
	#foreach($column in $columns)
	#if($column.list && "" != $column.dictType)
	// 初始化字典类型为${dictTypes}的字典数据
	const { getDict } = useDict([${dictTypes}])
	#break
	#end
	#end
	//定义数据类型
	interface ${ClassName} {
		#foreach($column in $columns)
		#if($column.javaType == "Integer" || $column.javaType == "Long")
		${column.javaField}: number,
		#elseif($column.javaType == "Double" || $column.javaType == "BigDecimal")
		${column.javaField}: number,
		#else
		${column.javaField}: string,
		#end
		#end
		children?: ${ClassName}[];
	}
	//表格数据
	const tableData = ref<${ClassName}[]>();
	//查询参数数据类型定义
	interface TableParams {
		pageNum?: number;
		pageSize?: number;
		orderByColumn?: string;
		orderByWay?: string;
		#foreach($column in $columns)
		#if($column.query)
		#if($column.javaType == "Integer" || $column.javaType == "Long")
		${column.javaField}: number,
		#elseif($column.javaType == "Double" || $column.javaType == "BigDecimal")
		${column.javaField}: number,
		#else
		${column.javaField}: string,
		#end
		#end
		#end
		#foreach ($column in $columns)
		#if($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
		//其它参数
		params: {
			#foreach ($column in $columns)
			#if($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
			#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
			begin${AttrName}?: string,
			end${AttrName}?: string,
			#end
			#end
		};
		#break
		#end
		#end
	}
	//查询参数数据
	const tableParams = ref<TableParams>({
		//当前页
		pageNum: 1,
		//每页显示多少条
		pageSize: 10,
		//排序字段
		orderByColumn: "",
		//排序方式
		orderByWay: "",
		#foreach($column in $columns)
		#if($column.query)
		#if($column.javaType == "Integer" || $column.javaType == "Long")
		${column.javaField}: 0,
		#elseif($column.javaType == "Double" || $column.javaType == "BigDecimal")
		${column.javaField}: 0.0,
		#else
		${column.javaField}: "",
		#end
		#end
		#end
		#foreach ($column in $columns)
		#if($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
		//其它参数
		params: {
			#foreach ($column in $columns)
			#if($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
			#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
			begin${AttrName} : "",
			end${AttrName} : "",
			#end
			#end
		},
		#break
		#end
		#end
	});
	//时间段参数
	#foreach ($column in $columns)
	#if($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
	#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
	const daterange${AttrName} = ref([])
	#end
	#end
	//查询表单
	const searchFormRef = ref<FormInstance>();
	//表单验证规则（即使用不到，为了重置方法，也需要写）
	const rules = reactive<FormRules<TableParams>>({});
	//添加修改${functionName}下拉框树形列表
	const parent${ClassName}List = ref();
	//添加或修改(1添加，2修改)
	const addOrModifyTag = ref(1);
	// 主题变量
	const { themeVariables } = useTheme();
	//是否加载中
	const isLoading = ref(true);
	/*============================通用参数结束============================*/

	/*============================页面方法开始============================*/
	//获取列表
	const handleListTree = async () => {
		isLoading.value = true;
		#foreach ($column in $columns)
		#if($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
		#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
		if (null != daterange${AttrName} && '' != daterange${AttrName}) {
			tableParams.value.params["begin${AttrName}"] = daterange${AttrName}.value[0]
			tableParams.value.params["end${AttrName}"] = daterange${AttrName}.value[1]
		}
		#end
		#end
		try {
			const result = await listTree${ClassName}(tableParams.value);
			if (result.code == 200) {
				tableData.value = result.data;
			} else {
				ElMessage.error(result.msg);
			}
		} finally {
			isLoading.value = false;
		}
	};
	//页面搜索方法
	const handleQuery = async () => {
		isLoading.value = true;
		handleListTree();
	};
	//重置
	const handleResetQuery = (formEl: FormInstance | undefined) => {
		if (!formEl) return;
		#foreach ($column in $columns)
		#if($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
		#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
		daterange${AttrName}.value = []
		#end
		#end
		formEl.resetFields();
	};
	/*********添加修改${functionName}*********/
	//弹出框是否显示
	const dialogFormAddOrModify${ClassName} = ref(false);
	//添加${functionName}表单初始数据
	const initialAddOrModify${ClassName}Form = {
		#foreach($column in $columns)
		#if(($column.usableColumn) || (!$column.superColumn))
		//${column.columnComment}
		#if($column.javaType == "Integer" || $column.javaType == "Long")
		${column.javaField}: 0,
		#elseif($column.javaType == "Double" || $column.javaType == "BigDecimal")
		${column.javaField}: 0.0,
		#else
		${column.javaField}: "",
		#end
		#end
		#end
	};
	//添加${functionName}表单数据
	const addOrModify${ClassName}Form = ref({ ...initialAddOrModify${ClassName}Form });
	//添加${functionName}表单对象
	const addOrModify${ClassName}FormRef = ref<FormInstance>();
	//添加${functionName}表单验证规则
	const addOrModify${ClassName}FormRules = reactive<FormRules>({
		#foreach($column in $columns)
		#if($column.required)
		$column.javaField: [
		{ required: true, message: "$column.columnComment不能为空", trigger: #if($column.htmlType == "select" || $column.htmlType == "radio")"change"#else"blur"#end }
		]#if($foreach.count != $columns.size()),#end
		#end
		#end
	});

	//打开添加弹框
	const openAddDialog = async () => {
		//弹出框设置为添加弹框
		addOrModifyTag.value = 1;
		//表单值恢复为初始值
		addOrModify${ClassName}Form.value = { ...initialAddOrModify${ClassName}Form };
		//清除验证状态
		addOrModify${ClassName}FormRef.value?.clearValidate();
		//添加表单的主键设置为0
		addOrModify${ClassName}Form.value.${pkColumn.javaField} = 0;
		//显示弹出框
		dialogFormAddOrModify${ClassName}.value = true;
		//获取上级${functionName}列表
		try {
			const result = await getDoesNotContainSelf${ClassName}TreeSelect();
			if (result.code == 200) {
				parent${ClassName}List.value = result.data;
			} else {
				ElMessage.error(result.msg);
			}
		} catch {
			ElMessage.error("获取上级${functionName}列表失败");
		}
	};
	//打开添加子级弹框
	const openAddSub${ClassName}Dialog = async (index: number, row: any) => {
		//弹出框设置为添加弹框
		addOrModifyTag.value = 1;
		//表单值恢复为初始值
		addOrModify${ClassName}Form.value = { ...initialAddOrModify${ClassName}Form };
		//清除验证状态
		addOrModify${ClassName}FormRef.value?.clearValidate();
		//添加表单的主键设置为0
		addOrModify${ClassName}Form.value.${pkColumn.javaField} = 0;
		//显示弹出框
		dialogFormAddOrModify${ClassName}.value = true;
		//获取上级${functionName}列表
		try {
			const result = await getDoesNotContainSelf${ClassName}TreeSelect();
			if (result.code == 200) {
				parent${ClassName}List.value = result.data;
				// 等待树形组件渲染完成
				await nextTick();
				// 设置默认选中值
				addOrModify${ClassName}Form.value.${treeParentCodeColumn.javaField} = row.${treeCodeColumn.javaField};
			} else {
				ElMessage.error(result.msg);
			}
		} catch {
			ElMessage.error("获取上级${functionName}列表失败");
		}
	};
	//打开修改弹框
	const openModifyDialog = async (index: number, row: any) => {
		//弹出框设置为修改弹框
		addOrModifyTag.value = 2;
		//表单值恢复为初始值
		addOrModify${ClassName}Form.value = { ...initialAddOrModify${ClassName}Form };
		//清除验证状态
		addOrModify${ClassName}FormRef.value?.clearValidate();
		//显示弹出框
		dialogFormAddOrModify${ClassName}.value = true;
		//获取上级${functionName}列表
		try {
			const result = await getDoesNotContainSelf${ClassName}TreeSelect();
			if (result.code == 200) {
				parent${ClassName}List.value = result.data;
				// 等待树形组件渲染完成
				await nextTick();
				// 设置默认选中值
				addOrModify${ClassName}Form.value.${treeParentCodeColumn.javaField} = row.${treeParentCodeColumn.javaField};
			} else {
				ElMessage.error(result.msg);
			}
		} catch {
			ElMessage.error("获取上级${functionName}列表失败");
		}
		//设置弹出框中相关值
		#foreach($column in $columns)
		#if(($column.usableColumn) || (!$column.superColumn))
		addOrModify${ClassName}Form.value.${column.javaField} = row.${column.javaField};
		#end
		#end
	};
	//实现添加或修改
	const handleAddOrModify = async (formEl: FormInstance | undefined) => {
		if (!formEl) return;
		await formEl.validate(async (valid) => {
			if (valid) {
				//调用添加或修改方法
				if (addOrModifyTag.value == 1) {
					const result = await add${ClassName}(addOrModify${ClassName}Form.value);
					if (result.code == 200) {
						ElMessage({
							message: "添加成功",
							type: "success",
						});
						//关闭弹框
						dialogFormAddOrModify${ClassName}.value = false;
						//表单值恢复为初始值
						addOrModify${ClassName}Form.value = { ...initialAddOrModify${ClassName}Form };
						//重新加载表单
						handleQuery();
					} else {
						ElMessage.error(result.msg);
					}
				} else {
					const result = await modify${ClassName}(addOrModify${ClassName}Form.value);
					if (result.code == 200) {
						ElMessage({
							message: "修改成功",
							type: "success",
						});
						//关闭弹框
						dialogFormAddOrModify${ClassName}.value = false;
						//表单值恢复为初始值
						addOrModify${ClassName}Form.value = { ...initialAddOrModify${ClassName}Form };
						//重新加载表单
						handleQuery();
					} else {
						ElMessage.error(result.msg);
					}
				}
			}
		});
	};
	//取消弹框
	const closeAddOrModifyDialog = async () => {
		//关闭弹框
		dialogFormAddOrModify${ClassName}.value = false;
		//表单值恢复为初始值
		addOrModify${ClassName}Form.value = { ...initialAddOrModify${ClassName}Form };
	};
	/*********删除${functionName}*********/
	const handleDelete = async (index: number, row: any) => {
		//调用删除方法
		try {
			const result = await delete${ClassName}({${pkColumn.javaField}s : row.${pkColumn.javaField}});
			if (result.code == 200) {
				ElMessage({
					message: "删除成功",
					type: "success",
				});
				//重新加载表单
				handleQuery();
			} else {
				ElMessage.error(result.msg);
			}
		} catch {
			ElMessage.error("删除失败");
		}
	};
	/*============================页面方法结束============================*/

	/*============================生命周期钩子开始============================*/
	// 组件加载完成后执行
	// 初始化表格数据
	onMounted(async () => {
		handleQuery();
	});
	/*============================生命周期钩子结束============================*/
</script>
