$blue: #2c3e50;        // 深蓝
$light-blue: #3498db;  // 明亮的蓝色
$red: #e74c3c;         // 鲜艳的红色
$pink: #e84393;        // 粉红色
$green: #27ae60;       // 清新的绿色
$tiffany: #1abc9c;     // 蒂芙尼蓝
$yellow: #f1c40f;      // 金色黄
$panGreen: #2ecc71;    // 鲜绿色
$panBlue: #00b8b8;     // 青蓝色
$panGray: #bdc3c7;     // 灰色
